/**************************** MIXINS ****************************/
@mixin absolutePositionCenter($topValue, $leftValue, $x, $y) {
  position: absolute;
  top: $topValue;
  left: $leftValue;
  transform: translate($x, $y);
}
