/**************************** BASE CODE ****************************/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* desired font-size / default font-size = 0.625 * 100 */
  font-size: 62.5%; // 1rem = 10px
  font-size: base-font-size(10px);
  scroll-behavior: smooth;

  @include respondMax($tablet-landscape) {
    // width < 900
    font-size: base-font-size(9px);
  }

  @include respondMax($tablet-portrait) {
    // width < 600
    font-size: base-font-size(8px);
  }

  @include respondMin($big-desktop) {
    // width > 1800
    font-size: base-font-size(12px);
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include respondMax($tablet-portrait) {
    padding: 0;
  }
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}
